<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="http://qdgd.bbctest.qjclouds.com/app/topc/statics/stylesheets/layout.css?1503456087" media="screen, projection"/>
    <link rel="stylesheet" href="http://qdgd.bbctest.qjclouds.com/app/topc/statics/stylesheets/theme.css?1503456087" media="screen, projection" />
    <link rel="stylesheet" type="text/css" href="../lib/swiper.min.css"/>
    <link rel="stylesheet" type="text/css" href="../build/css/style.css"/>
    <script src="http://qdgd.bbctest.qjclouds.com/app/site/statics/scripts/lib/jquery.js?1503456087"></script>
</head>
<body>
	<div class="audio-new-header">
		<div class="audio-new-container">
			<p><img src="../build/img/index/icon_address.png"></img><a href="">青岛</a></p>
			<ol>
				<li><a href="">登陆</a></li>
				<li><a href="">注册</a></li>
				<li><a href="">商家中心</a></li>
			</ol>
		</div>
	</div>
	<div class="audio-new-search">
		<div class="audio-new-container">
			<div class="audio-new-logo">
				<img src="../build/img/index/logo.png"/>
			</div>
			<div class="audio-new-search-input">
				<dl>
					<dt>
						<input type="text" name="" id="" value="" class="audio-new-search-input1" placeholder="婚纱礼服"/>
						<input type="button" name="" id="" value="搜索" />
						<a href="">购物车</a>
					</dt>
					<dd>
						<ol>
							<li><a href="">家用电器</a></li>
							<li><a href="">箱包</a></li>
							<li><a href="">家纺</a></li>
							<li><a href="">家用电器</a></li>
							<li><a href="">首饰</a></li>
							<li><a href="">箱包</a></li>
							<li><a href="">家纺</a></li>
						</ol>
					</dd>
				</dl>
				<div class="audio-new-search-list">
					<ul>
						<li><p>榴莲</p><span>搜索结果</span></li>
						<li><p>榴莲</p><span>搜索结果</span></li>
						<li><p>榴莲</p><span>搜索结果</span></li>
						<li><p>榴莲</p><span>搜索结果</span></li>
						<li><p>榴莲</p><span>搜索结果</span></li>
						<li><p>榴莲</p><span>搜索结果</span></li>
					</ul>
					<div class="audio-new-search-list-alldel">
						<span>全部删除</span>					
					</div>
				</div>
			</div>
			<div class="audio-new-search-code">
				<dl>
					<dt><img src="../build/img/index/TVplaza-v2版首页_133.png"/></dt>
					<dd>手机商城</dd>
				</dl>
			</div>
		</div>
	</div>
	<div class="audio-new-nav">
		<div class="audio-new-container">
			<p class="audio-new-nav-title"><img src="../build/img/index/nav.png"/><span>全部商品分类</span></p>
			<ul>
				<li><a href="">首页</a></li>
				<li><a href="">全球购</a></li>
				<li><a href="">电视购物</a></li>
				<li><a href="">广播购物</a></li>
				<li><a href="">中华美食</a></li>
			</ul>
			<!--全部列表-->
			<div class="audio-new-nav-allkinds">
				<ul class="audio-new-nav-allkinds-list">
					<li><img src="../build/img/index/TVplaza-v2版首页_08.png"/><span>美妆个护</span></li>
					<li><img src="../build/img/index/TVplaza-v2版首页_08.png"/><span>美妆个护</span></li>
					<li><img src="../build/img/index/TVplaza-v2版首页_08.png"/><span>美妆个护</span></li>
					<li><img src="../build/img/index/TVplaza-v2版首页_08.png"/><span>美妆个护</span></li>
					<li><img src="../build/img/index/TVplaza-v2版首页_08.png"/><span>美妆个护</span></li>
					<li><img src="../build/img/index/TVplaza-v2版首页_08.png"/><span>美妆个护</span></li>
					<li><img src="../build/img/index/TVplaza-v2版首页_08.png"/><span>美妆个护</span></li>
					<li><img src="../build/img/index/TVplaza-v2版首页_08.png"/><span>美妆个护</span></li>
					<li><img src="../build/img/index/TVplaza-v2版首页_08.png"/><span>美妆个护</span></li>
				</ul>
				<div class="audio-new-nav-allkinds-box">
					<div class="audio-new-nav-allkinds-box-active">
						<div class="audio-new-nav-allkinds-box-active-left">
							<div>
								<h2>美妆护肤</h2>
								<ul>
									<li>洁面</li>
									<li>卸妆</li>
									<li>卸妆</li>
									<li>卸妆</li>
									<li>卸妆</li>
									<li>卸妆</li>
									<li>卸妆</li>
									<li>卸妆</li>
									<li>卸妆</li>
								</ul>
							</div>
							<div>
								<h2>美妆护肤</h2>
								<ul>
									<li>洁面</li>
									<li>卸妆</li>
									<li>卸妆</li>
									<li>卸妆</li>
									<li>卸妆</li>
									<li>卸妆</li>
									<li>卸妆</li>
									<li>卸妆</li>
									<li>卸妆</li>
									<li>卸妆</li>
									<li>卸妆</li>
									<li>卸妆</li>
									<li>卸妆</li>
									<li>卸妆</li>
									<li>卸妆</li>
									<li>卸妆</li>
									<li>卸妆</li>
									<li>卸妆</li>
									<li>卸妆</li>
								</ul>
							</div>
						</div>
						<div class="audio-new-nav-allkinds-box-active-right">
							<div>
								<h2>猜你喜欢</h2>
								<p>实时推荐最合适您的宝贝</p>
							</div>
							<ul>
								<li>
									<img src="../build/img/index/TVplaza-v2版首页_96.png"/>
									<p>欧丽丝女士淡香水</p>
								</li>
								<li>
									<img src="../build/img/index/TVplaza-v2版首页_96.png"/>
									<p>欧丽丝女士淡香水</p>
								</li>
								<li>
									<img src="../build/img/index/TVplaza-v2版首页_96.png"/>
									<p>欧丽丝女士淡香水</p>
								</li>
								<li>
									<img src="../build/img/index/TVplaza-v2版首页_96.png"/>
									<p>欧丽丝女士淡香水</p>
								</li>
								<li>
									
								</li>
								<li>
									
								</li>
								<li>
									
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="audio-new-banner">
		<div class="swiper-container-1">
	        <div class="swiper-wrapper">
	            <div class="swiper-slide"><img src="../build/img/index/TVplaza-v2版首页_93.png"/></div>
	            <div class="swiper-slide"><img src="../build/img/index/TVplaza-v2版首页_93.png"/></div>
	        </div>
	        <!-- Add Pagination -->
	        <div class="swiper-pagination-1"></div>
	   </div>
	</div>
	<!--音频-->
	<div class="audio-new-play">
		<div class="audio-new-container">
			<div class="audio-new-play-header">
				<h2>FM95.2故事广播  正在直播</h2>
				<span>正在直播商品</span>
			</div>
			<div class="audio-new-play-box">
				<div class="audio-new-play-box-left">
					<div class="audio-new-play-box-left-top">
						<img src="../build/img/广播购物/img_ing01.png"/>
					</div>
					<div class="audio-new-play-box-left-bottom">
						<div class="swiper-container-2">
					        <div class="swiper-wrapper">
					            <div class="swiper-slide">
					            	<img src="../build/img/广播购物/icon_964.png"/>
					            	<p>私家车</p>
					            </div>
					            <div class="swiper-slide">Slide 2</div>
					            <div class="swiper-slide">Slide 3</div>
					            <div class="swiper-slide">Slide 4</div>
					        </div>
					        <!-- Add Arrows -->
					        <img class="swiper-button-next1" src="../build/img/index/TVplaza-v2版首页_65.png"/>
					        <img class="swiper-button-prev1" src="../build/img/index/TVplaza-v2版首页_68.png"/>
					    </div>
					</div>
				</div>
				<div class="audio-new-play-box-right">
					<img src="../build/img/index/TVplaza-v2版首页_99.png"/>
					<h2>露华浓（Revlon）丽彩炫...</h2>
					<p>来源：QTV-1新闻频道 </p>
					<span>￥60.00</span>
					<a href="">立即抢购</a>
				</div>
			</div>
		</div>
	</div>
	<!--上新-->
	<div class="audio-new-newproduct">
		<div class="audio-new-container">
			<div class="audio-new-newproduct-header">
				<p></p><h2>上新</h2><p></p>
			</div>
			<div class="audio-new-newproduct-box">
				<div class="audio-new-newproduct-box-top">
					<ul>
						<li>
							<div class="">
								<img src=""/>
							</div>
							<h3>台湾米饼500克整箱儿童...</h3>
							<p>¥20.80</p>
							<span>来源：QTV-1新闻频道 </span>
						</li>
						<li>
							<div class="">
								<img src=""/>
							</div>
							<h3>台湾米饼500克整箱儿童...</h3>
							<p>¥20.80</p>
							<span>来源：QTV-1新闻频道 </span>
						</li>
						<li>
							<div class="">
								<img src=""/>
							</div>
							<h3>台湾米饼500克整箱儿童...</h3>
							<p>¥20.80</p>
							<span>来源：QTV-1新闻频道 </span>
						</li>
						<li>
							<div class="">
								<img src="../build/img/电视购物/img_shangxin_01.png"/>
							</div>
							<h3>台湾米饼500克整箱儿童...</h3>
							<p>¥20.80</p>
							<span>来源：QTV-1新闻频道 </span>
						</li>
					</ul>
				</div>
				<div class="audio-new-newproduct-box-bottom">
					<ul>
						<li>
							<div class="">
								<img src=""/>
							</div>
							<h3>台湾米饼500克整箱儿童...</h3>
							<p>¥20.80</p>
							<span>来源：QTV-1新闻频道 </span>
						</li>
						<li>
							<div class="">
								<img src=""/>
							</div>
							<h3>台湾米饼500克整箱儿童...</h3>
							<p>¥20.80</p>
							<span>来源：QTV-1新闻频道 </span>
						</li>
						<li>
							<div class="">
								<img src=""/>
							</div>
							<h3>台湾米饼500克整箱儿童...</h3>
							<p>¥20.80</p>
							<span>来源：QTV-1新闻频道 </span>
						</li>
						<li>
							<div class="">
								<img src="../build/img/电视购物/img_shangxin_01.png"/>
							</div>
							<h3>台湾米饼500克整箱儿童...</h3>
							<p>¥20.80</p>
							<span>来源：QTV-1新闻频道 </span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--热售-->
	<div class="audio-new-hotshop">
		<div class="audio-new-container">
			<div class="audio-new-hotshop-header">
				<p></p><h2>热售</h2><p></p>
			</div>
			<div class="audio-new-hotshop-box">
				<div class="audio-new-hotshop-box-top">
					<ul>
						<li>
							<div class="">
								<img src=""/>
							</div>
							<h3>台湾米饼500克整箱儿童...</h3>
							<p>¥20.80</p>
							<span>来源：QTV-1新闻频道 </span>
						</li>
						<li>
							<div class="">
								<img src=""/>
							</div>
							<h3>台湾米饼500克整箱儿童...</h3>
							<p>¥20.80</p>
							<span>来源：QTV-1新闻频道 </span>
						</li>
						<li>
							<div class="">
								<img src=""/>
							</div>
							<h3>台湾米饼500克整箱儿童...</h3>
							<p>¥20.80</p>
							<span>来源：QTV-1新闻频道 </span>
						</li>
						<li>
							<div class="">
								<img src="../build/img/电视购物/img_shangxin_01.png"/>
							</div>
							<h3>台湾米饼500克整箱儿童...</h3>
							<p>¥20.80</p>
							<span>来源：QTV-1新闻频道 </span>
						</li>
					</ul>
				</div>
				<div class="audio-new-hotshop-box-bottom">
					<ul>
						<li>
							<div class="">
								<img src=""/>
							</div>
							<h3>台湾米饼500克整箱儿童...</h3>
							<p>¥20.80</p>
							<span>来源：QTV-1新闻频道 </span>
						</li>
						<li>
							<div class="">
								<img src=""/>
							</div>
							<h3>台湾米饼500克整箱儿童...</h3>
							<p>¥20.80</p>
							<span>来源：QTV-1新闻频道 </span>
						</li>
						<li>
							<div class="">
								<img src=""/>
							</div>
							<h3>台湾米饼500克整箱儿童...</h3>
							<p>¥20.80</p>
							<span>来源：QTV-1新闻频道 </span>
						</li>
						<li>
							<div class="">
								<img src="../build/img/电视购物/img_shangxin_01.png"/>
							</div>
							<h3>台湾米饼500克整箱儿童...</h3>
							<p>¥20.80</p>
							<span>来源：QTV-1新闻频道 </span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--联系我们-->
	<div class="audio-new-contactus">
		<div class="audio-new-container">
			<div class="audio-new-contactus-top">
				<ul>
					<li>
						<img src="../build/img/index/TVplaza-v2版首页_119.png"/>
						<dl>
							<dt>正品保障</dt>
							<dd>正品行货 放心选购</dd>
						</dl>
					</li>
					<li>
						<img src="../build/img/index/TVplaza-v2版首页_119.png"/>
						<dl>
							<dt>正品保障</dt>
							<dd>正品行货 放心选购</dd>
						</dl>
					</li>
					<li>
						<img src="../build/img/index/TVplaza-v2版首页_119.png"/>
						<dl>
							<dt>正品保障</dt>
							<dd>正品行货 放心选购</dd>
						</dl>
					</li>
					<li>
						<img src="../build/img/index/TVplaza-v2版首页_119.png"/>
						<dl>
							<dt>正品保障</dt>
							<dd>正品行货 放心选购</dd>
						</dl>
					</li>
				</ul>
			</div>	
			<div class="audio-new-contactus-bottom">
				<div class="audio-new-contactus-bottom-left">
					<h2>为什么联系我们</h2>
					<div>
						<img src="../build/img/index/TVplaza-v2版首页_136.png"/>
						<dl>
							<dt>放心的服务</dt>
							<dd>领先的服务标准 独创的保障体系</dd>
						</dl>
					</div>
					<div>
						<img src="../build/img/index/TVplaza-v2版首页_136.png"/>
						<dl>
							<dt>放心的服务</dt>
							<dd>领先的服务标准 独创的保障体系</dd>
						</dl>
					</div>	
					
					
				</div>
				<div class="audio-new-contactus-bottom-center">
					<dl>
						<dt>购物条款 </dt>
						<dd>订单的几种状态  </dd>
						<dd>积分奖励政策</dd>
						<dd>商品退货保障</dd>
						<dd>订单何时出库</dd>
						<dd>关于送货和验货</dd>
					</dl>
					<dl>
						<dt>关于我们 </dt>
						<dd>网站使用条款</dd>
					</dl>
					<dl>
						<dt>用户帮助 </dt>
						<dd>顾客必读   </dd>
						<dd>会员等级折扣</dd>
						<dd>会员注册协议</dd>
						<dd>隐私保护政策</dd>
					</dl>
				</div>
				<div class="audio-new-contactus-bottom-right">
					<img src="../build/img/index/TVplaza-v2版首页_133.png"/>
					<p>官方微信</p>
				</div>
			</div>
		</div>
	</div>
	<!--底部-->
	<div class="audio-new-footer">
		<p>有任何购物问题请联系我们在线客服 | 电话：0532-68850102 | 工作时间：周一至周五 8:00－18:00</p>
		<p>鲁ICP备14005563号-2</p>
	</div>
	<script src="../lib/swiper-3.4.2.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		var swiper = new Swiper('.swiper-container-1', {
	        pagination: '.swiper-pagination-1',
	        paginationClickable: true
	    });
	     var swiper = new Swiper('.swiper-container-2', {
	        pagination: '.swiper-pagination-2',
	        nextButton: '.swiper-button-next1',
	        prevButton: '.swiper-button-prev1',
	        slidesPerView: 'auto',
	        centeredSlides: true,
	        paginationClickable: true,
	        spaceBetween: 30,
	        loop:true
	    });
	    //控制搜索框显示隐藏
	    $(".audio-new-search-input1").on("click",function(){
	    	$(".audio-new-search-list").show();
	    })
	    
	    $(".audio-new-search-list").on("mousemove",function(){
	    	$(".audio-new-search-list").show();
	    })
	    
	    $(".audio-new-search-list").on("mouseout",function(){
	    	$(".audio-new-search-list").hide();
	    })
	    $(".audio-new-search-input1").on("mouseout",function(){
	    	$(".audio-new-search-list").hide();
	    })
	    //当鼠标移入是山吃
	    $(".audio-new-search-list").find("li").on("mousemove",function(){
	    	var this1 = $(this);
	    	$(this).find("span").text("删除")
	    	$(this).find("span").css("color","#ff9d0c")
	    	$(this).find("span").on("click",function(){
	    		this1.remove();
	    	})
	    })
	    $(".audio-new-search-list").find("li").on("mouseout",function(){
	    	$(this).find("span").text("搜索结果")
	    	$(this).find("span").css("color","#a5a5a5")
	    })
	    //点击全部删除
	    $('.audio-new-search-list-alldel').find("span").on("click",function(){
	    		$(".audio-new-search-list").find("li").remove();
	    })
	    //控制分类的显示和隐藏
	    $(".audio-new-nav-title").on("mousemove",function(){
	    	$(".audio-new-nav-allkinds").css("display","block");
	    })
	    $(".audio-new-nav-allkinds").on("mousemove",function(){
	    	$(".audio-new-nav-allkinds").css("display","block");
	    })
	    $(".audio-new-nav-title").on("mouseout",function(){
	    	$(".audio-new-nav-allkinds").css("display","none");
	    })
	    $(".audio-new-nav-allkinds").on("mouseout",function(){
	    	$(".audio-new-nav-allkinds").css("display","none");
	    })
	</script>
</body>
</html>