<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>课程点名</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../vendor/YDUI/css/ydui.css"/>
        <link rel="stylesheet" href="../vendor/loaders.css">        
		<link rel="stylesheet" type="text/css" href="../dist/css/cfc/stylesheet.css"/>
		<link rel="stylesheet" href="../dist/fonts/iconfont.css">
		<script src="../vendor/YDUI/js/ydui.flexible.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
        <div class="loader">
	        <div class="loader-inner ball-grid-pulse">
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	        </div>
	     </div>
        <section class="g-flexview">
            <header class="m-navbar classlist-nav">
                <a href="#" class="navbar-item"><i class="back-ico"></i></a>
                <div class="navbar-center"><span class="navbar-title">课程列表</span></div>
                <a href="#" class="navbar-item classlist-it"><i class="iconfont icon-shaixuan"></i></a>
            </header>
            <div class="g-scrollview">
                <article class="m-list list-theme4 classcall-m-list">
                    <a href="#" class="list-item">
                        <div class="list-img classcall-img">
                            <img src="../img/c_wrapper/classlist/baleiwu.png">
                        </div>
                        <div class="list-mes classcall-mes">
                            <div class="list-mes-item classcall-mes-item">
                                <div class="classcall-zu">
                                    <div class="list-price classcall-text"><p class="p1">课程名称：</p> <p class="p2">金蝴蝶芭蕾舞课程</p></div>
                                    <div class="list-price classcall-text"><p class="p1">上课时间：</p> <p class="p2">每周天 13:20</p></div>
                                    <div class="list-price classcall-text"><p class="p1">下课时间：</p> <p class="p2">每周天 14:20</p></div>
                                    <div class="list-price classcall-text"><p class="p1">点名状态：</p> <p class="p2 jianju1">未点名</p></div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-item">
                        <div class="list-img classcall-img">
                            <img src="../img/c_wrapper/classlist/baleiwu.png">
                        </div>
                        <div class="list-mes classcall-mes">
                            <div class="list-mes-item classcall-mes-item">
                                <div class="classcall-zu">
                                    <div class="list-price classcall-text"><p class="p1">课程名称：</p> <p class="p2">金蝴蝶芭蕾舞课程</p></div>
                                    <div class="list-price classcall-text"><p class="p1">上课时间：</p> <p class="p2">每周天 13:20</p></div>
                                    <div class="list-price classcall-text"><p class="p1">下课时间：</p> <p class="p2">每周天 14:20</p></div>
                                    <div class="list-price classcall-text"><p class="p1">点名状态：</p> <p class="p2 jianju2">已点名</p></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </article>
            </div>
        </section>
	<script src="https://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
	<script src="../vendor/ejs.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../vendor/YDUI/js/ydui.js" type="text/javascript" charset="utf-8"></script>
	<script src="../vendor/global.js" type="text/javascript" charset="utf-8"></script>

	<!--<script src="dist/js/cfc/classify.js" type="text/javascript" charset="utf-8"></script>-->
	</body>
</html>
