<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>金蝴蝶首页</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../vendor/YDUI/css/ydui.css"/>
		<link rel="stylesheet" type="text/css" href="../vendor/loaders.css"/>
		<link rel="stylesheet" type="text/css" href="../dist/css/yu/stylesheet.css"/>
		<script src="../vendor/YDUI/js/ydui.flexible.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<!--预加载-->
		<div class="loader">
	        <div class="loader-inner ball-grid-pulse">
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	        </div>
	     </div>
		<section class="g-flexview">

		    <header class="m-navbar classlistheader bg-header" >
		        <a href="#" class="navbar-item"><i class="back-ico"></i></a>
		        <div class="navbar-center"><span class="navbar-title">老师点名</span></div>
		        <a href="#" class="navbar-item classlist-all">全选</a>
		    </header>
		
		    <div class="g-scrollview">
		        <div class="classlist-header">
		        	<h2>金蝴蝶芭蕾舞课程</h2>
		        	<p>2017-08-29 周二 13:20 </p>
		        	<span>共计20人</span>
		        </div>
		        <div class="classlist-body">
		        	<ul>
		        		<li class="classlistfirst">
		        			<img class="lazy" data-url="../img/y_wrapper/classlist/touxiang.png"/>
		        			<h3>曾雨佳</h3>
		        			<p class="classlist-state">已签到</p>
		        			<span></span>
		        		</li>
		        		<li class="classlistsec">
		        			<img class="lazy" data-url="../img/y_wrapper/classlist/touxiang.png"/>
		        			<h3>曾雨佳</h3>
		        			<p class="classlist-state">未签到</p>
		        			<span></span>
		        		</li>
		        		<li class="classlistsec">
		        			<img class="lazy" data-url="../img/y_wrapper/classlist/touxiang.png"/>
		        			<h3>曾雨佳</h3>
		        			<p class="classlist-state">未签到</p>
		        			<span></span>
		        		</li>
		        		<li class="classlistsec">
		        			<img class="lazy" data-url="../img/y_wrapper/classlist/touxiang.png"/>
		        			<h3>曾雨佳</h3>
		        			<p class="classlist-state">未签到</p>
		        			<span></span>
		        		</li>
		        	</ul>
		        </div>
		    </div>
		
		    <footer class="m-tabbar classlist-footer">
		    	<a >签到</a>
		    </footer>   
		</section>
		
		<script src="https://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
		<script src="../vendor/ejs.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../vendor/YDUI/js/ydui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../vendor/global.js" type="text/javascript" charset="utf-8"></script>
		<script src="../dist/js/y_js/classlist.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
