<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>联系我们</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../vendor/YDUI/css/ydui.css"/>
        <link rel="stylesheet" href="../vendor/loaders.css">		
		<link rel="stylesheet" type="text/css" href="../dist/css/cfc/stylesheet.css"/>
		<link rel="stylesheet" href="../dist/fonts/iconfont.css">
		<script src="../vendor/YDUI/js/ydui.flexible.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
        <div class="loader">
	        <div class="loader-inner ball-grid-pulse">
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	        </div>
	     </div>
        <section class="g-flexview">
            <header class="m-navbar">
                <a href="#" class="navbar-item"><i class="back-ico"></i></a>
                <div class="navbar-center"><span class="navbar-title">联系我们</span></div>
            </header>
            <div class="g-scrollview">
                <article class="m-list list-theme4 contactus-m-list">
                    <a href="#" class="list-item">
                        <div class="list-img contactus-img">
                            <img src="../img/c_wrapper/contactus/logo1.png">
                        </div>
                        <div class="list-mes contactus-mes">
                            <h3 class="list-title contactus-list">金蝴蝶艺校</h3>
                            <div class="list-mes-item contactus-mes-item">
                                <div>
                                    <div class="list-price contactus-text"><p class="p1">联系电话</p> <p class="p2 jianju1">0532-68658527</p></div>
                                    <div class="list-price contactus-text"><p class="p1 jianju2">联 系 人</p> <p class="p2">盖主任</p></div>
                                    <div class="list-price contactus-text"><p class="p1">学校地址</p> <p class="p2">青岛市南京路122号中联创意广场B2栋2楼</p></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </article>
            </div>
        </section>
	<script src="https://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
	<script src="../vendor/ejs.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../vendor/YDUI/js/ydui.js" type="text/javascript" charset="utf-8"></script>
	<script src="../vendor/global.js" type="text/javascript" charset="utf-8"></script>
	<!--<script src="dist/js/cfc/classify.js" type="text/javascript" charset="utf-8"></script>-->
	</body>
</html>
