<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>详情页</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../vendor/YDUI/css/ydui.css"/>
		<link rel="stylesheet" type="text/css" href="../dist/fonts/iconfont.css"/>
		<link rel="stylesheet" type="text/css" href="../vendor/loaders.css"/>
		<link rel="stylesheet" type="text/css" href="../dist/css/yu/stylesheet.css"/>
		<script src="../vendor/YDUI/js/ydui.flexible.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<!--预加载-->
		<div class="loader">
	        <div class="loader-inner ball-grid-pulse">
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	        </div>
	     </div>
		<section class="g-flexview">
			<header class="details-header m-navbar">
			    <a href="#" class="navbar-item">
			        <i class="iconfont icon-icon4"></i>
			    </a>
			    <div class="navbar-center">
			        <span class="navbar-title">详情</span>
			    </div>
			    <div class="navbar-item">
			        <a href="#">
			            <i class="iconfont icon-fangdajing1"></i>
			        </a>
			    </div>
			</header>
			<div class="g-scrollview">
				<div class="details-banner">
					<div class="m-slider" id="details_Slider">
					    <div class="slider-wrapper">
					        <div class="slider-item">
					            <a href="#">
					                <img data-src="../img/y_wrapper/details/banner.png">
					            </a>
					        </div>
					        <div class="slider-item">
					            <a href="#">
					                <img data-src="../img/y_wrapper/index/banner.png">
					            </a>
					        </div>
					        <div class="slider-item">
					            <a href="#">
					                <img data-src="../img/y_wrapper/index/banner.png">
					            </a>
					        </div>
					    </div>
					    <div class="slider-pagination"></div><!-- 分页标识 -->
					</div>
					<div class="details-banner-bottom">
						<h2>套餐1:100节课程   送50节课程</h2>
						<p><span>价格：</span>￥12000</p>
					</div>
				</div>
				<div class="details-comment">
					<a class="cell-item" href="javascript:;">
				        <div class="cell-left"><i class="iconfont icon-pinglun"></i>查看商品评论</div>
				        <div class="cell-right cell-arrow">货号：20151124009</div>
				    </a>
				</div>
				<div class="details-present">
					<div class="details-present-header">
						<h2>商品介绍</h2>
					</div>
				</div>
			</div>	
			<footer class="details-footer m-tabbar">
				<div class="details-footer-left">
					<i class="iconfont icon-zhuye1"></i><span class="iconfont icon-shoucang"></span>
				</div>
				<div class="details-footer-center">
					<a href="">立即结算</a>
				</div>
				<div class="details-footer-right">
					<i class="iconfont icon-gouwuche1"></i>
				</div>
			</footer>
		</section>
		<script src="https://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
		<script src="../vendor/ejs.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../vendor/YDUI/js/ydui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../vendor/global.js" type="text/javascript" charset="utf-8"></script>
		<script src="../dist/js/y_js/details.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
