<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>我的订单</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../vendor/YDUI/css/ydui.css"/>
        <link rel="stylesheet" href="../vendor/loaders.css">        
		<link rel="stylesheet" type="text/css" href="../dist/css/cfc/stylesheet.css"/>
		<link rel="stylesheet" href="../dist/fonts/iconfont.css">
		<script src="../vendor/YDUI/js/ydui.flexible.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
        <div class="loader">
	        <div class="loader-inner ball-grid-pulse">
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	        </div>
	     </div>
        <section class="g-flexview mygoods">
            <header class="m-navbar">
                <a href="../personal.html" class="navbar-item"><i class="back-ico"></i></a>
                <div class="navbar-center"><span class="navbar-title">我的订单</span></div>
            </header>
            <div class="g-scrollview">
                <div class="m-tab mygoods-tab" data-ydui-tab>
                    <div class="dingwei">
                        <ul class="tab-nav mygoods-tab-nav">
                            <li class="tab-nav-item tab-active"><a href="javascript:;">全部订单</a></li>
                            <li class="tab-nav-item"><a href="javascript:;">待付款</a></li>
                            <li class="tab-nav-item"><a href="javascript:;">待收货</a></li>
                            <li class="tab-nav-item"><a href="javascript:;">已完成</a></li>
                        </ul>
                    </div>
                    <div class="tab-panel">
                        <div class="tab-panel-item tab-active">
                            <div class="mygoods-panel">
                                <div class="mygoods-panel-top">
                                    <div class="panel-left">
                                        <p class="p1">订单编号：<i>150406151918</i></p>
                                        <p>下单日期：<i>2017-08-30 10:51</i></p>
                                    </div>
                                    <p class="panel-right">待收货</p>
                                </div>
                                <article class="mygoods-panel-list">
                                    <a href="./order-details.html">
                                        <div class="panel-list-img">
                                            <img src="../img/c_wrapper/mygoods/IMG_0984.png">
                                        </div>
                                        <div class="panel-list-mes">
                                            <h3 class="panel-list-title">套餐1:100节课程   送50节课程</h3>
                                        </div>
                                    </a>
                                </article>
                                <div class="mygoods-panel-bot">
                                    <a href="./order-details.html"><p class="p1">查看详情</p></a>
                                    <p class="p2">订单总价：<i>￥35000</i></p>
                                </div>
                            </div>
                            <div class="mygoods-panel">
                                <div class="mygoods-panel-top">
                                    <div class="panel-left">
                                        <p class="p1">订单编号：<i>150406151918</i></p>
                                        <p>下单日期：<i>2017-08-30 10:51</i></p>
                                    </div>
                                    <p class="panel-right right-red">待付款</p>
                                </div>
                                <article class="mygoods-panel-list">
                                    <a href="./details.html">
                                        <div class="panel-list-img">
                                            <img src="../img/c_wrapper/mygoods/IMG_0984.png">
                                        </div>
                                        <div class="panel-list-mes">
                                            <h3 class="panel-list-title">套餐1:100节课程   送50节课程</h3>
                                        </div>
                                    </a>
                                </article>
                                <div class="mygoods-panel-bot">
                                    <a href="./order-details.html"><p class="p1">查看详情</p></a>
                                    <p class="p2">订单总价：<i>￥35000</i></p>
                                </div>
                            </div>
                            <div class="mygoods-panel">
                                <div class="mygoods-panel-top">
                                    <div class="panel-left">
                                        <p class="p1">订单编号：<i>150406151918</i></p>
                                        <p>下单日期：<i>2017-08-30 10:51</i></p>
                                    </div>
                                    <p class="panel-right right-green">已完成</p>
                                </div>
                                <article class="mygoods-panel-list">
                                    <a href="./details.html">
                                        <div class="panel-list-img">
                                            <img src="../img/c_wrapper/mygoods/IMG_0984.png">
                                        </div>
                                        <div class="panel-list-mes">
                                            <h3 class="panel-list-title">套餐1:100节课程   送50节课程</h3>
                                        </div>
                                    </a>
                                </article>
                                <div class="mygoods-panel-bot">
                                    <a href="./details.html"><p class="p1">查看详情</p></a>
                                    <p class="p2">订单总价：<i>￥35000</i></p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-panel-item">
                            <div class="mygoods-panel">
                                <div class="mygoods-panel-top">
                                    <div class="panel-left">
                                        <p class="p1">订单编号：<i>150406151918</i></p>
                                        <p>下单日期：<i>2017-08-30 10:51</i></p>
                                    </div>
                                    <p class="panel-right right-red">待付款</p>
                                </div>
                                <article class="mygoods-panel-list">
                                    <a href="./details.html">
                                        <div class="panel-list-img">
                                            <img src="../img/c_wrapper/mygoods/IMG_0984.png">
                                        </div>
                                        <div class="panel-list-mes">
                                            <h3 class="panel-list-title">套餐1:100节课程   送50节课程</h3>
                                        </div>
                                    </a>
                                </article>
                                <div class="mygoods-panel-bot">
                                    <a href="./order-details.html"><p class="p1">查看详情</p></a>
                                    <p class="p2">订单总价：<i>￥35000</i></p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-panel-item">
                            <div class="mygoods-panel">
                                <div class="mygoods-panel-top">
                                    <div class="panel-left">
                                        <p class="p1">订单编号：<i>150406151918</i></p>
                                        <p>下单日期：<i>2017-08-30 10:51</i></p>
                                    </div>
                                    <p class="panel-right">待收货</p>
                                </div>
                                <article class="mygoods-panel-list">
                                    <a href="./details.html">
                                        <div class="panel-list-img">
                                            <img src="../img/c_wrapper/mygoods/IMG_0984.png">
                                        </div>
                                        <div class="panel-list-mes">
                                            <h3 class="panel-list-title">套餐1:100节课程   送50节课程</h3>
                                        </div>
                                    </a>
                                </article>
                                <div class="mygoods-panel-bot">
                                    <a href="./details.html"><p class="p1">查看详情</p></a>
                                    <p class="p2">订单总价：<i>￥35000</i></p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-panel-item">
                            <div class="mygoods-panel">
                                <div class="mygoods-panel-top">
                                    <div class="panel-left">
                                        <p class="p1">订单编号：<i>150406151918</i></p>
                                        <p>下单日期：<i>2017-08-30 10:51</i></p>
                                    </div>
                                    <p class="panel-right right-green">已完成</p>
                                </div>
                                <article class="mygoods-panel-list">
                                    <a href="./order-details.html">
                                        <div class="panel-list-img">
                                            <img src="../img/c_wrapper/mygoods/IMG_0984.png">
                                        </div>
                                        <div class="panel-list-mes">
                                            <h3 class="panel-list-title">套餐1:100节课程   送50节课程</h3>
                                        </div>
                                    </a>
                                </article>
                                <div class="mygoods-panel-bot">
                                    <a href="./details.html"><p class="p1">查看详情</p></a>
                                    <p class="p2">订单总价：<i>￥35000</i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
	<script src="https://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
	<script src="../vendor/ejs.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../vendor/YDUI/js/ydui.js" type="text/javascript" charset="utf-8"></script>
	<script src="../vendor/global.js" type="text/javascript" charset="utf-8"></script>
	<!--<script src="dist/js/cfc/classify.js" type="text/javascript" charset="utf-8"></script>-->
	</body>
</html>
