<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>个人信息</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../vendor/YDUI/css/ydui.css"/>
		<link rel="stylesheet" href="../vendor/loaders.css">		
		<link rel="stylesheet" type="text/css" href="../dist/css/cfc/stylesheet.css"/>
		<link rel="stylesheet" href="../dist/fonts/iconfont.css">
		<script src="../vendor/YDUI/js/ydui.flexible.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
        <div class="loader">
	        <div class="loader-inner ball-grid-pulse">
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	        </div>
	     </div>
        <section class="g-flexview mygoods">
            <header class="m-navbar">
                <a href="../personal.html" class="navbar-item"><i class="back-ico"></i></a>
                <div class="navbar-center"><span class="navbar-title">个人信息</span></div>
            </header>
            <div class="g-scrollview">
                <div class="m-cell mynews-cell">
                    <a class="cell-item" href="./myphone.html">
                        <div class="cell-left mynews-left"><p>绑定手机号</p></div>
                        <div class="cell-right cell-arrow mynews-right"><p>15082941871</p></div>
                    </a>
                    <a class="cell-item" href="./mynumber.html">
                        <div class="cell-left mynews-left"><p>绑定学员编号</p></div>
                        <div class="cell-right cell-arrow mynews-right"><p>JHD2891054</p></div>
                    </a>
                    <a class="cell-item" href="javascript:;">
                        <div class="cell-left mynews-left"><p>绑定收货地址</p></div>
                        <div class="cell-right cell-arrow mynews-right"></div>
                    </a>
                </div>
            </div>
        </section>
	<script src="https://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
	<script src="../vendor/ejs.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../vendor/YDUI/js/ydui.js" type="text/javascript" charset="utf-8"></script>
	<script src="../vendor/global.js" type="text/javascript" charset="utf-8"></script>
	<!--<script src="dist/js/cfc/classify.js" type="text/javascript" charset="utf-8"></script>-->
	</body>
</html>
