<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>绑定学员编号</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../vendor/YDUI/css/ydui.css"/>
		<link rel="stylesheet" href="../vendor/loaders.css">		
		<link rel="stylesheet" type="text/css" href="../dist/css/cfc/stylesheet.css"/>
		<link rel="stylesheet" href="../dist/fonts/iconfont.css">
		<script src="../vendor/YDUI/js/ydui.flexible.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
        <div class="loader">
	        <div class="loader-inner ball-grid-pulse">
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	        </div>
	     </div>
        <section class="g-flexview mygoods">
            <header class="m-navbar">
                <a href="#" class="navbar-item"><i class="back-ico"></i></a>
                <div class="navbar-center"><span class="navbar-title">绑定学员编号</span></div>
            </header>
            <div class="g-scrollview mynumber-g">
                <div class="m-cell mynumber-cell">
                    <div class="cell-item mynumber-item">
                        <div class="cell-left mynumber-left">学员编号：</div>
                        <div class="cell-right mynumber-right"><input type="number"  class="cell-input" placeholder="请输入学员编号" autocomplete="off" /></div>
                    </div>
                </div>
                <button type="button" class="btn-block btn-disabled mynumber-btn">提交</button>
            </div>
        </section>
	<script src="https://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
	<script src="../vendor/ejs.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../vendor/YDUI/js/ydui.js" type="text/javascript" charset="utf-8"></script>
	<script src="../vendor/global.js" type="text/javascript" charset="utf-8"></script>

	<!--<script src="dist/js/cfc/classify.js" type="text/javascript" charset="utf-8"></script>-->
	</body>
</html>
