<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>学员信息</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../vendor/YDUI/css/ydui.css"/>
        <link rel="stylesheet" href="../vendor/loaders.css">        
		<link rel="stylesheet" type="text/css" href="../dist/css/cfc/stylesheet.css"/>
		<link rel="stylesheet" href="../dist/fonts/iconfont.css">
		<script src="../vendor/YDUI/js/ydui.flexible.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
        <div class="loader">
	        <div class="loader-inner ball-grid-pulse">
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	        </div>
	     </div>
        <section class="g-flexview">
            <header class="m-navbar">
                <a href="#" class="navbar-item"><i class="back-ico"></i></a>
                <div class="navbar-center"><span class="navbar-title">学员信息</span></div>
            </header>
            <div class="g-scrollview">
                <div class="student">
                    <div class="student-top">
                        <div class="top">
                            <input type="file">
                            <img src="../img/c_wrapper/student/touxiang1.png" alt="">
                        </div>
                        <div class="mid">
                            <p>刘静</p>
                        </div>
                        <div class="bot">
                            <p><i class="iconfont icon-iconfontnv2 sex"></i></p>
                        </div>
                    </div>
                    <div class="student-mid">
                        <div class="student-lianxi">
                            <p class="p1">紧急联系人</p>
                            <p class="p2">刘亮</p>
                        </div>
                        <div class="student-lianxi">
                            <p class="p1">紧急联系电话</p>
                            <p class="p2">18354228665</p>
                        </div>
                    </div>
                    <div class="student-bot">
                        <p class="student-class">所学课程</p>
                        <ul>
                            <a href="">
                                <li>
                                    <img src="../img/c_wrapper/student/wudaoke.png" alt="">
                                    <p>舞蹈课</p>
                                </li>
                            </a>
                            <a href="">
                                <li>
                                    <img src="../img/c_wrapper/student/biaoyanke.png" alt="">
                                    <p>表演课</p>
                                </li>
                            </a>
                            <a href="">
                                <li>
                                    <img src="" alt="">
                                    <p></p>
                                </li>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <div class="student-back">
        
            <div class="student-tankuang">
                <div class="student-xuanze">
                    <img src="../img/c_wrapper/student/gird.png" alt="" id="girs">
                    <p>女孩</p>
                </div>
                <div class="student-xuanze">
                    <img src="../img/c_wrapper/student/boy.png" alt="" id="boys">
                    <p>男孩</p>
                </div>
            </div>
        </div>
	<script src="https://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
	<script src="../vendor/ejs.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../vendor/YDUI/js/ydui.js" type="text/javascript" charset="utf-8"></script>
	<script src="../vendor/global.js" type="text/javascript" charset="utf-8"></script>
	<script src="../dist/js/cfc/student.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
