<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>金蝴蝶</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../vendor/YDUI/css/ydui.css"/>
		<link rel="stylesheet" type="text/css" href="../vendor/loaders.css"/>
		<link rel="stylesheet" type="text/css" href="../dist/fonts/iconfont.css"/>
		<link rel="stylesheet" type="text/css" href="../dist/css/yu/stylesheet.css"/>
		<script src="../vendor/YDUI/js/ydui.flexible.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<!--预加载-->
		<div class="loader">
	        <div class="loader-inner ball-grid-pulse">
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	        </div>
	     </div>
		<section class="g-flexview">
		    <header class="m-navbar stupunch-header bg-header">
		        <a href="#" class="navbar-item"><i class="back-ico"></i></a>
		        <div class="navbar-center"><span class="navbar-title">学生打卡</span></div>
		        <a href="#" class="navbar-item"><i class="iconfont icon-shaixuan"></i></a>
		    </header>
		    <div class="g-scrollview stupunch-list">
				<ul>
					<li class="nopunch">
						<p><span>课程名称：</span>金蝴蝶表演艺术课程</p>
						<p><span>上课时间：</span>2017-08-28 12:30</p>
						<p class="stupunch-state"><span>打卡状态：</span>金蝴蝶表演艺术课程</p>
						<a>打卡</a>
					</li>
					<li class="repairpunch">
						<p><span>课程名称：</span>金蝴蝶表演艺术课程</p>
						<p><span>上课时间：</span>金蝴蝶表演艺术课程</p>
						<p class="stupunch-state"><span>打卡状态：</span>金蝴蝶表演艺术课程</p>
						<a>补打卡</a>
					</li>
					<li class="aleadypunch1">
						<p><span>课程名称：</span>金蝴蝶表演艺术课程</p>
						<p><span>上课时间：</span>2017-08-28 12:30</p>
						<p class="stupunch-state"><span>打卡状态：</span>金蝴蝶表演艺术课程</p>
						<p><span>上课时间：</span>2017-08-28 12:30</p>
						<a>已打卡</a>
					</li>
					<li class="aleadypunch2">
						<p><span>课程名称：</span>金蝴蝶表演艺术课程</p>
						<p><span>上课时间：</span>2017-08-28 12:30</p>
						<p class="stupunch-state"><span>打卡状态：</span>金蝴蝶表演艺术课程</p>
						<p><span>上课时间：</span>2017-08-28 12:30</p>
						<a>已打卡</a>
					</li>
				</ul>
		    </div>
		</section>
		
		<script src="https://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
		<script src="../vendor/ejs.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../vendor/YDUI/js/ydui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../vendor/global.js" type="text/javascript" charset="utf-8"></script>
		<script src="../dist/js/y_js/stupunch.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
